[
  {eorm, [
    {db_host, "127.0.0.1"},
    {db_port, 3306},
    {db_name, "eorm_test"},
    {db_user, "root"},
    {db_passwd, "123456"},
    {db_module, mod_mysql},
    {cache_dir, "/tmp/mgame/cache/"}
  ]},

  {lager, [
    {log_root, "/tmp/mgame/log"},
    {handlers, [
      {lager_console_backend, [debug,
        {lager_default_formatter, [
          "\n=MESSAGE REPORT==== ",date, " ", time," ===\n",
          sev, "(", pid, ":", module, ":", line, ") : ", message, "\n"]}]},
      {lager_file_backend, [{file, "error.log"}, {level, error},{size, 50485760}, {date, "$D0"}, {count, 50}]},
      {lager_file_backend, [{file, "console.log"}, {level, debug},{size, 50485760}, {date, "$D0"}, {count, 50}]}
    ]},

    {async_threshold, 20},
    {async_threshold_window, 5},
    {error_logger_hwm, 1000}
  ]}
].
